<!DOCTYPE html>
<html>
<head>
	<title>
		My Map
	</title>
	<link rel="stylesheet" type="text/css" href="styles/map.css">
</head>
<body>
	<div id="map">	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="scripts/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEsjVF5V-zLHv5ZOw04htxD4ZybAW0Cp8&callback=initMap&libraries=geometry"
    async defer></script>
</body>
</html>